<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anezium.rokidbus.glasses"
    android:versionCode="10500" android:versionName="1.5.0">
    <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="32" />
    <application android:hasCode="false" />
</manifest>
